//vie_fonts--------------------------------------

@font-face {
    font-family: "vie_01";
    src: url(/assets/fonts/ButterScotch_vie.ttf);
}

@font-face {
    font-family: "vie_02";
    src: url(/assets/fonts/ICiel_vie.ttf);
}

@font-face {
    font-family: "vie_03";
    src: url(/assets/fonts/Motherland_vie.ttf);
}

@font-face {
    font-family: "vie_04";
    src: url(/assets/fonts/ProductSans_vie.otf);
}

@font-face {
    font-family: "vie_05";
    src: url(/assets/fonts/Bjola_vie.otf);
}

//-----------------------------------------------

@font-face {
    font-family: "01";
    src: url(/assets/fonts/Azonix.otf);
}

@font-face {
    font-family: "02";
    src: url(/assets/fonts/Bondi.ttf);
}

@font-face {
    font-family: "03";
    src: url(/assets/fonts/Coves.otf);
}

@font-face {
    font-family: "04";
    src: url(/assets/fonts/Facon.otf);
}

@font-face {
    font-family: "05";
    src: url(/assets/fonts/Fathan.ttf);
}

@font-face {
    font-family: "06";
    src: url(/assets/fonts/HelloFriday.otf);
}

@font-face {
    font-family: "07";
    src: url(/assets/fonts/Moon.otf);
}

@font-face {
    font-family: "08";
    src: url(/assets/fonts/Odachi.otf);
}

@font-face {
    font-family: "09";
    src: url(/assets/fonts/PeaceSans.otf);
}

@font-face {
    font-family: "10";
    src: url(/assets/fonts/PierSans.otf);
}

@font-face {
    font-family: "11";
    src: url(/assets/fonts/Potra.otf);
}
