//Color
$lightRed: #ff7979;
$darkRed: #eb4d4b;

$lightGreen: #badc58;
$darkGreen: #6ab04c;

$lightBlue: #686de0;
$darkBlue: #4834d4;
$shallowBlue: #30336b;
$deepBlue: #130f40;

$lightYellow: #f6e58d;
$darkYellow: #f9ca24;

$lightOrange: #ffbe76;
$darkOrange: #f0932b;

$lightGrey: #ecf0f1;
$darkGrey: #7f8c8d;
